<!DOCTYPE html>
<html ng-app="schoolWebsite">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
	<title>HPS school</title>

	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/lib.min.css"> 
	<link rel="stylesheet" type="text/css" href="resources/css/styles.css"> 
</head>
<body ng-controller="MainController" >
		<div class="headerSection row" >
			<div class="logoSection col-sm-12 text-center">WELCOME
				<h1>The Hyderabad Public School</h1>
			</div>
		</div>
		<div class="bodySection row">
   			<nav class="navbar navbar-default navStyle">
      			<div class="container-fluid">
          			<ul class="nav navbar-nav">
            			<li ng-class="(home=='true') ? 'active' : ''"  ><a href="#" ng-click="homeTab()">Home</a></li>
            			<li  ng-class="(studentZone=='true') ? 'active' : ''"><a class="dropdown-toggle" ng-click="studentZoneTab()" data-toggle="dropdown" href>School Zone <span class="caret"></span></a>
               			<ul class="dropdown-menu" >
                 			<li ><a href="#/addForm" style="color: #993333;" ><span class="glyphicon glyphicon-pencil" ></span> Admission Form</a></li>
                 			<li><a href="#/student_signIn" style="color: #993333;"><span class="glyphicon glyphicon-user" ></span> Sign in</a></li>
               			</ul>
            			</li>
            			<li ng-class="(adminZone=='true') ? 'active' : ''" ><a href="#/admin_signIn" ng-click="adminZoneTab()" >Admin Zone</a></li>
            			<li ng-class="(contact == 'true') ? 'active' : ''" ><a href="#/contactUs" ng-click="contactUsTab()">Contact Us</a></li>
          			</ul>
      			</div>
   			</nav>
  		</div>
	
	 <div ng-cloak class="col-sm-12">
        <div class="container-fluid" ng-view>
        </div>
    </div>  

 	<div class="footerSection row" style="padding:4px 4px">
    	<div class="col-sm-6 text-left" style="color:white">
        	Copyright 2015 - All Rights Reserved, HPS
        </div>
        <div class="col-sm-6 text-right success" style="color:white">
        	Developed by <b><a href="http://www.techvedika.com" target="_blank" style="text-decoration:none;color:orange">Techvedika pvt ltd</a></b>
        </div>
    </div>
</body>

	<script type="text/javascript" src="resources/js/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="resources/js/angular.min.js"></script>
	<script type="text/javascript" src="resources/js/angular-route.min.js"></script>
	<script type="text/javascript" src="resources/js/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="resources/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="resources/js/angular-strap.min.js"></script>
	<script type="text/javascript" src="resources/js/angular-strap.tpl.min.js"></script>
	<script type="text/javascript" src="app/routes/route.js"></script>
	<script type="text/javascript" src="app/utilities/countryState.js"></script>
<!-- Controllers -->
	 <script type="text/javascript" src="controllers/MainController.js"></script>
	 <script type="text/javascript" src="controllers/formCtrl.js"></script> 
	 <script type="text/javascript" src="controllers/studentLoginController.js"></script> 
	 <script type="text/javascript" src="controllers/admissionFormController.js"></script>
	 <script type="text/javascript" src="controllers/adminLoginController.js"></script>
	 <script type="text/javascript" src="controllers/administrationController.js"></script> 
	 
</html>
