<form>
            <div class="row">
                <label for="status">Status</label>
                <button type="text" ng-model="student.status" ng-class="(student.status == 'registered') ? 'btn btn-danger' : 'btn btn-success'">status</button>
            </div>
            <div class="row">
                <div class="form-group col-sm-6  rp10 form-inline">
                    <label for="firstName" class="col-sm-3 text-right rp10">First Name</label>
                    <input type="text" placeholder="First Name" class="form-control col-sm-3" name="firstName" readonly ng-model="student.firstName">
                </div>
                <div class="form-group col-sm-6  rp10 form-inline">
                    <label for="middleName" class="col-sm-3 text-right rp10">Middle Name</label>
                    <input type="text" placeholder="Middle Name" class="form-control col-sm-3" id="middleName" name="middleName" readonly ng-model="student.middleName">                        
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 rp10 form-inline">
                    <label for="lastName" class="col-sm-3 text-right rp10">Last Name</label>
                    <input type="text" placeholder="Last Name" class="form-control col-sm-3" id="lastName" name="lastName" readonly
                    ng-model="student.lastName" required>
                </div>
                <div class="form-group col-sm-6 rp10 form-inline">
                    <label for="fathername" class="col-sm-3 text-right rp10">Father Name</label>
                    <input type="text" id="fatherName" class="form-control col-sm-3" name="fatherName" placeholder='Father Name' ng-model="student.fatherName" readonly required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4 rp10 form-inline">
                    <label for="gender" class="col-sm-2 text-right rp10">Gender</label>
                    <input type="text" class="form-control col-sm-2" name="gender" ng-model="student.gender" readonly required>
                </div>
                <div class="form-group col-sm-4  rp10 form-inline">
                    <label for="dob" class="col-sm-2 text-right rp10">DOB</label>
                    <input type="text" placeholder="Date of birth" class="form-control col-sm-2" id="dob" name="dob" ng-model="student.dateOfBirth" readonly>           
                </div>
                <div class="form-group col-sm-4 rp10 form-inline">
                    <label for="class" class="col-sm-3 text-right rp10">Class Appearing</label>
                    <input type="text"  class="form-control col-sm-1" name="class" ng-model="student.class_id" required readonly/>
                </div>
            </div>

            <div class="row">   
                <div class="form-group col-sm-6 rp10 form-inline">
                    <label for="address1" class="col-sm-3 text-right rp10">Address1</label>
                    <textarea id="address1" placeholder="Address 1" class="form-control col-sm-3" name="addressLine1" ng-model="student.address1" required  readonly></textarea>
                </div>
                <div class="form-group col-sm-6 rp10 form-inline">
                    <label for="address2" class="col-sm-3 text-right rp10">Address2</label>
                    <textarea id="address2" placeholder="Address 2" class="form-control col-sm-3" name="addressLine2" ng-model="student.address2" readonly></textarea>
                </div>
            </div>
            
            <div class="row">           
                <div class="form-group col-sm-4 rp10 form-inline">
                    <label for="country" class="col-sm-2 text-right rp10">Country</label>
                    <input type="text"  class="form-control col-sm-2" id="country" name="country" ng-model="student.country" readonly/>
                </div>
                <div class="form-group col-sm-4 rp10 form-inline">
                    <label for="state" class="col-sm-2 text-right rp10">State</label>   
                    <input type="text" class="form-control col-sm-2" id="state" name="state" ng-model="student.state" readonly>
                </div>
                <div class="form-group col-sm-4 rp10 form-inline">
                    <label for="city" class="col-sm-2 text-right rp10">City</label>
                    <input type="text" placeholder="City" class="form-control col-sm-2" id="city" name="city" ng-model="student.city" required readonly>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 rp10 form-inline">
                    <label for="mobilePhone" class="col-sm-3 text-right rp10">Mobile Phone</label>
                    <input type="text" class="form-control col-sm-3" id="mobileNumber" placeholder="Mobile Number" name="mobileNumber" ng-model="student.mobileNumber"  required readonly>
                </div>
                <div class="form-group col-sm-6 rp10 form-inline" >
                    <label for="email" class="col-sm-3 text-right rp10">Email</label>
                    <input type="email" class="form-control col-sm-3" id="email" placeholder="Email" name="email" ng-model="student.email" required readonly>
                </div>
            </div>
        </form>